{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}



{% block content %}
<div class="list_main">
  <div class="container">

{% if user_list %}
{% for user in user_list %}

<ul>
 <li><a href="{% url 'myapp:detail' pk=user.pk %}">
   <div class="jumbotron">
     <h4 class="list_content">{{user.name}}</h4>
   </div>
 </a></li>
</ul>

{% endfor %}

{% else %}
<div class="jumbotron">
  <h1>! No User Present ! Click on add button to add user</h1>
</div>
{% endif %}

<div class="container">
  <div class="container">
    <div class="container">
        <p><a type="button" class="btn btn-primary" href="{% url 'myapp:user' %}">Add</a></p>
    </div>
  </div>
</div>


  </div>
</div>
{% endblock %}


