<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static "master.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
       <form class="deletee" method="post">
         {% csrf_token %}
         <p>Are you sure you want to delete "{{ delete_user.name }}"?</p>
         <input type="submit" class="btn btn-danger"  value="Delete">
         <a href="{% url 'myapp:detail' pk=delete_user.pk %}"><button type="button" class="btn btn-warning">Back</button></a>
         
       </form>
    </div>
  </body>
</html>
